/* style */

#navbar ul {
  list-style-type: none;
}

#navbar > ul > li > a {
  text-decoration: none;
  background-color: rgb(43, 118, 239);
  color: #eee;
  font-weight: bold;
}

.nav-works li:last-child a {
  border-radius: 0 0 15px 15px;
}

.nav-works a {
  text-decoration: none;
  background-color: rgb(43, 118, 239);
  color: #eee;
  font-weight: bold;
}

#navbar a:hover {
  background-color: rgb(60, 130, 260);
}

/* layout */

#navbar {
  position: fixed;
  width: 100%;
}

#navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar > ul > li {
  flex: 1 1 0;
}

#navbar > ul > li > a {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  height: 2.3em;
  margin: 0;
}

.nav-hamburger {
  display: none;
}

@media screen and (min-width: 1281px) {

  .nav-works {
    display: flex;
    flex-direction: column;
  }

  .nav-works a {
    display: flex;
    //flex: 1 1 0; /* inutile ? */
    align-items: center;
    height: 2.3em;
    margin: 0;
    padding: 0 1em 0 .5em;
  }

  .nav-works li {
    display: none;
  }

  #dropdown:hover .nav-works li {
    display: block;
  }

  .fa-caret-down {
    padding-left: 2em;
  }

  /* animation */

  .nav-works {
    perspective: 1000px;
  }

  .nav-works li {
    transform-origin: top center;
  }

  #dropdown:hover .nav-works li:nth-child(1) {
    animation-name: works-menu;
    animation-duration: 300ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 0;
    //animation-iteration-count: 1;
    //animation-direction: normal;
    //animation-fill-mode: forwards;
    //animation-play-state: running;
  }

  #dropdown:hover .nav-works li:nth-child(2) {
    animation-name: works-menu;
    animation-duration: 350ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 50ms;
  }

  #dropdown:hover .nav-works li:nth-child(3) {
    animation-name: works-menu;
    animation-duration: 400ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 100ms;
  }

  #dropdown:hover .nav-works li:nth-child(4) {
    animation-name: works-menu;
    animation-duration: 450ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 150ms;
  }

  #dropdown:hover .nav-works li:nth-child(5) {
    animation-name: works-menu;
    animation-duration: 500ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 150ms;
  }
  #dropdown:hover .nav-works li:nth-child(6) {
    animation-name: works-menu;
    animation-duration: 600ms;
    transition-timing-function: ease-in-out;
    //animation-delay: 175ms;
  }

  @keyframes works-menu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg) translateY(100px) scale(0.4);
      border-radius: 150px;
    }
    100% {
      opacity: 1;
      transform: rotateX(0) translateY(0) scale(1);
    }
  }
}

/* Tablet */

@media screen and (max-width: 1280px) {

  .fa-caret-down {
    color: transparent;
  }

  .nav-works li {
    display: none;
  }

}

/* phone */

@media screen and (max-width: 800px) {
  #navbar {
    display:none;
  }
}
