/* style */

#skills {
  background-color: #dcdcdc;
}

.skill-grade {
  border: 4px solid #ff4d3a;
  background-color: #ff4d3a;
  border-radius: 15px;
}

.skill-empty {
  background-color: #dcdcdc;
  border-radius: 0px 15px 15px 0;
}

/* layout */

.skill-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 3em 1em 3em 1em;
}

.skill-content p {
  margin: .4em;
  width: 30%;
  height: 2em;
  padding-top: .8em;
  padding-right: 2em;
  text-align: right;
}

.skill-grade {
  display: flex;
  justify-content: flex-end;
  height: 1.3em;
  width: 30%;
}

.skill-empty {
  width: 50%;
  height: 1.3em;
}

  /* skill grade */

  #skill-grade-html {
    width: 10%;
  }

  #skill-grade-css {
    width: 25%;
  }

  #skill-grade-js {
    width: 50%;
  }

  #skill-grade-jquery {
    width: 60%;
  }

  #skill-grade-ruby {
    width: 95%;
  }

  /*#skill-grade-php {
    width: 99%;
  }*/

  #skill-grade-bootstrap {
    width: 35%;
  }

  #skill-grade-git {
    width: 30%;
  }

  #skill-grade-inkscape {
    width: 70%;
  }


  /* phone */

@media screen and (max-width: 800px) {

  .skill-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin-right: 5%;
    padding: 1em 0 1em 0;
  }
  .skill-content p {
    margin: .4em;
    width: 40%;
    height: 1.5em;
    padding-top: .8em;
    padding-right: .5em;
    text-align: right;
  }
  .skill-grade {
    height: 1em;
  }

  .skill-empty {
    height: 1em;
  }


}
