/* style */

#skills {
  background-color: #dcdcdc;
}

.skill-grade {
  border: 4px solid #ff4d3a;
  background-color: #ff4d3a;
}

.skill-empty {
  background-color: #dcdcdc;
}

#skills i {
  font-size: 1.8em;
}


/* layout */

#skills {
  padding: 2.5em 0 1.5em 0;
}

.skill-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.skill-content p {
  text-align: right;
}

#skills i {
  text-align: center;
}

/* skillbar */

.skill-grade {
  display: flex;
  justify-content: flex-end;
}

  .skill-content {
    width: 95%;
    padding: 1em 0 1em 0;
  }

  .skill-content p {
    margin: .4em;
    width: 30%;
    height: 1.5em;
    padding-top: .8em;
    font-size: .8em;
  }

  .skill-grade {
    width: 30%;
    height: .6em;
    border-radius: 7px;
  }

  .skill-empty {
    height: .6em;
    border-radius: 0 3px 3px 0;
  }

  #skills i {
    font-size: 1.2em;
    margin: .4em;
    width: 10%;
  }


/* desktop */
@media screen and (min-width: 1281px) {
  .skill-content {
    width: 100%;
    margin: auto;
    padding: 3em 1em 3em 1em;
  }

  .skill-content p {
    margin: .4em;
    width: 10%;
    height: 2em;
  }

  /* skillbar */
  .skill-grade {
    width: 15%;
    height: 1em;
    border-radius: 10px;
    margin: 0 6em 0 0;
  }

  .skill-empty {
    height: 1em;
    border-radius: 0px 8px 8px 0;
  }

  #skills i {
    font-size: 1.5em;
    width: 10%;
    margin: 0;
  }

}

/* skill grade */

#skill-grade-html {
  width: 7%;
}
#skill-grade-css {
  width: 12%;
}
#skill-grade-bootstrap {
  width: 25%;
}
#skill-grade-sass {
  width: 75%;
}
#skill-grade-js {
  width: 50%;
}
#skill-grade-jquery {
  width: 60%;
}
#skill-grade-node {
  width: 85%;
}
#skill-grade-react {
  width: 97%;
}
#skill-grade-grunt {
  width: 97%;
}
#skill-grade-ruby {
  width: 93%;
}
#skill-grade-angular {
  width: 97%;
}
#skill-grade-heroku {
  width: 97%;
}
#skill-grade-php {
  width: 97%;
}
#skill-grade-git {
  width: 20%;
}
#skill-grade-atom {
  width: 30%;
}
#skill-grade-wordpress {
  width: 97%;
}
#skill-grade-trello {
  width: 25%;
}
#skill-grade-inkscape {
  width: 60%;
}
#skill-grade-gimp {
  width: 85%;
}
#skill-grade-atom {
  width: 30%;
}
#skill-grade-linux {
  width: 30%;
}
