/* style */

#skills {
  background-color: #dcdcdc;
}

.skill-grade {
  border: 4px solid #ff4d3a;
  background-color: #ff4d3a;
}

.skill-empty {
  background-color: #dcdcdc;
}

#skills i {
  font-size: 1.8em;
}


/* layout */

#skills {
  padding: 2.5em 0 1.5em 0;
}

.skill-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-width: 360px;
}

.skill-content p {
  text-align: right;
}

#skills i {
  text-align: center;
}

/* skillbar */

.skill-grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  height: .6em;
  border-radius: 7px;
}

.skill-content {
  width: 95%;
  padding: 1em 0 1em 0;
}

.skill-content p {
  margin: .4em;
  width: 30%;
  height: 1.5em;
  padding-top: .8em;
  font-size: .8em;
}

.skill-empty {
  height: .6em;
  border-radius: 0 3px 3px 0;
}

#skills i {
  font-size: 1.2em;
  margin: .4em;
  width: 10%;
}


/* desktop */


  #skills i {
    font-size: 1.5em;
    width: 10%;
    margin: 0;
  }


/* skill grade */

#skill-grade-html {
  width: 7%;
}
#skill-grade-css {
  width: 12%;
}
#skill-grade-bootstrap {
  width: 25%;
}
#skill-grade-sass {
  width: 75%;
}
#skill-grade-js {
  width: 50%;
}
#skill-grade-jquery {
  width: 60%;
}
#skill-grade-node {
  width: 85%;
}
#skill-grade-react {
  width: 85%;
}
#skill-grade-mongo {
  width: 85%;
}
#skill-grade-git {
  width: 20%;
}
#skill-grade-atom {
  width: 30%;
}
#skill-grade-wordpress {
  width: 97%;
}
#skill-grade-inkscape {
  width: 60%;
}
#skill-grade-gimp {
  width: 85%;
}
#skill-grade-atom {
  width: 20%;
}
#skill-grade-linux {
  width: 30%;
}
